/* Sidebar */
.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #E31837; 
    color: white; 
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-family: Arial, sans-serif;
  }
  
  /* Services Heading */
  .sidebar h2 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  

  .sidebar ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
  }
  
  /* Services list  */
  .sidebar ul li {
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: normal; 
    transition: font-weight 0.3s ease; 
  }
  

  .sidebar ul li.active {
    font-weight: bold; 
  }
  
  .sidebar ul li:hover {
    font-weight: bold; 
  }
  
  /* Sign out button */
  .sidebar .signout-btn {
    margin-top: 100px;
    font-size: 14px;
    background-color: #E1DFDC;
    color: black;
  }
  
  .signout-btn:hover {
    background-color: #D6CFCA; 
  }

  .sidebar-link {
    font-size: 20px; 
    text-decoration: none; 
    color: #ffffff; 
  }
  
  .sidebar-link:hover {
    color: #010913; 
  }

  

  /* Profile Picture */
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  /* View Profile Button */
.view-profile-button {
    margin-top: 10px;
    font-size: 14px;
  }

  .sidebar .view-profile-btn {
    margin-top: 10px;
   font-size: 14px;
   background-color: #000000;
   color: white;
  }
  
  .view-profile-btn:hover {
    background-color: #333333; 
  }